!!! 5
%html
  = partial "shared/head"
  %body{:class => page_classes}
    = partial "shared/navigation-slider"
    .main-content#top
      = partial "shared/main-banner"
      = partial "shared/header"
      = yield
      = partial "shared/footer"
    = partial "shared/scripts"