!!! 5
%html
  = partial "shared/head"
  %body{:class => page_classes}
    .main-content
      = partial "shared/header-otherpages"
      .main-wrapper
        = yield
    = partial "shared/footer"
    = partial "shared/scripts"