%section.section.section-speakers.section-organizers#organizers
  %div
    .wrapper.text--center
      .text--center 
        %h1.section__title ORGANIZERS
        %i.icon.icon-ruby-lines.section__title-separator

      %grid
        .grid__item.one-quarter.palm--one-whole.lap--one-third>
          .speaker
            .speaker__img
              = image_tag("organizers/guillermo.jpeg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/guilleiguaran"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/guilleiguaran"}
                  %i.icon.icon-github
            %p.speaker__name Guillermo Iguaran

        .grid__item.one-quarter.palm--one-whole.lap--one-third>
          .speaker
            .speaker__img
              = image_tag("organizers/juan.jpeg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/buritica"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/buritica"}
                  %i.icon.icon-github
            %p.speaker__name Juan Pablo Buritica

        .grid__item.one-quarter.palm--one-whole.lap--one-third>
          .speaker
            .speaker__img
              = image_tag("organizers/laura.jpeg")
              .speaker__img--hover
                %a{:href => ""}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/lauragarcia"}
                  %i.icon.icon-github
            %p.speaker__name Laura Garcia

        .grid__item.one-quarter.palm--one-whole.lap--one-third>
          .speaker
            .speaker__img
              = image_tag("organizers/oscar.jpeg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/orendon"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/orendon"}
                  %i.icon.icon-github
            %p.speaker__name Oscar Rendon

        .grid__item.one-quarter.palm--one-whole.lap--one-third>
          .speaker
            .speaker__img
              = image_tag("organizers/paola.jpg")
              .speaker__img--hover
                %a{:href => ""}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/PaoMar"}
                  %i.icon.icon-github
            %p.speaker__name Paola Garcia

        .grid__item.one-quarter.palm--one-whole.lap--one-third>
          .speaker
            .speaker__img
              = image_tag("organizers/roberto.jpeg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/robermiranda"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/robertomiranda"}
                  %i.icon.icon-github
            %p.speaker__name Roberto Miranda

        .grid__item.one-quarter.palm--one-whole.lap--one-third>
          .speaker
            .speaker__img
              = image_tag("speakers/sebastian.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/sebasoga"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/sebasoga"}
                  %i.icon.icon-github
            %p.speaker__name Sebastian Sogamoso
