%section.section.section-speakers#speakers
  %div
    .wrapper.text--center
      .text--center
        %h1.section__title SPEAKERS
        %i.icon.icon-ruby-lines.section__title-separator

      %grid
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/matt-aimonetti.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/mattetti"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/mattetti"}
                  %i.icon.icon-github
            %p.speaker__name MATT AIMONETTI
            %p.speaker__job-title Co-founder of Splice, formerly Sony PlayStation.
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/sandimetz.jpeg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/sandimetz"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/skmetz"}
                  %i.icon.icon-github
            %p.speaker__name SANDI METZ
            %p.speaker__job-title
              Cyclist, Rubyist, reluctant author
              %a{ href: "http://poodr.com" }
                (http://poodr.com)
              obsessive programmer, recalcitrant blogger and the antidote for ambition.
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/sarah-mei.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/sarahmei"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/sarahmei"}
                  %i.icon.icon-github
            %p.speaker__name SARAH MEI
            %p.speaker__job-title Chief Consultant at DevMynd. Director at Ruby Central. RailsBridge founder.

        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/steve-klabnik.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/steveklabnik"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/steveklabnik"}
                  %i.icon.icon-github
            %p.speaker__name STEVE KLABNIK
            %p.speaker__job-title Prolific open source contributor. Rust core team.
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/ann-harter.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/anyharder"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/theaisforannie"}
                  %i.icon.icon-github
            %p.speaker__name ANN HARTER
            %p.speaker__job-title Recurse Center alum
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/nhocki.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/nhocki"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/nhocki"}
                  %i.icon.icon-github
            %p.speaker__name NICOL&Aacute;S HOCK ISAZA
            %p.speaker__job-title Colombian developer. Working at Ride.
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/jean-pierre.png")
              .speaker__img--hover
                %a{:href => "https://twitter.com/gomayonqui"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/gomayonqui"}
                  %i.icon.icon-github
            %p.speaker__name JEAN PIERRE
            %p.speaker__job-title Ruby Developer - Open Source Lover.
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/sharon-steed.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/sharonsteed"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/sharonsteed"}
                  %i.icon.icon-github
            %p.speaker__name SHARON STEED
            %p.speaker__job-title Speaker. Stutterer. Communications innovator. Content marketer.
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/michel-martens.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/soveran"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/soveran"}
                  %i.icon.icon-github
            %p.speaker__name MICHEL MARTENS.
            %p.speaker__job-title Simplicity Driven Developer.
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/raymond-hightower.png")
              .speaker__img--hover
                %a{:href => "https://twitter.com/rayhightower"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/RayHightower"}
                  %i.icon.icon-github
            %p.speaker__name RAYMOND T. HIGHTOWER
            %p.speaker__job-title WisdomGroup founder and dev. Organizer of ChicagoRuby, WindyCityRails and RubyCaribe.
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/david-padilla.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/dabit"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/dabit"}
                  %i.icon.icon-github
            %p.speaker__name DAVID PADILLA.
            %p.speaker__job-title CTO EasyBroker.

%section.section.section-speakers#workshopers
  %div
    .wrapper.text--center
      .text--center
        %h1.section__title WORKSHOP INSTRUCTORS
        %i.icon.icon-ruby-lines.section__title-separator

      %grid
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/adrian-catalan.jpeg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/ykro"}
                  %i.icon.icon-twitter
            %p.speaker__name ADRIAN CATALAN
            %p.speaker__job-title Bit & Ik'
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/juan-pablo-santos.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/jsantos17"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/jsantos17"}
                  %i.icon.icon-github
            %p.speaker__name JUAN PABLO SANTOS
            %p.speaker__job-title Stack Builders
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/jose-anasco.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/merongivian"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/merongivian"}
                  %i.icon.icon-github
            %p.speaker__name JOSE AÑASCO
            %p.speaker__job-title

        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/caleb-thompson.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/calebthompson"}
                  %i.icon.icon-twitter
            %p.speaker__name CALEB THOMPSON
            %p.speaker__job-title Thoughtbot
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/kattya-cuevas.png")
              .speaker__img--hover
                %a{:href => "https://twitter.com/KattyaCuevas"}
                  %i.icon.icon-twitter
            %p.speaker__name KATTYA CUEVAS
            %p.speaker__job-title DevAcademy
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("organizers/julian.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/app_config"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/julianvargasalvarez"}
                  %i.icon.icon-github
            %p.speaker__name JULIAN DAVID VARGAS ALVAREZ
            %p.speaker__job-title Fluvip
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/david-padilla.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/dabit"}
                  %i.icon.icon-twitter
            %p.speaker__name DAVID PADILLA
            %p.speaker__job-title EasyBroker
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/ratnadeep.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/rtdp"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/rtdp"}
                  %i.icon.icon-github
            %p.speaker__name RATNADEEP DESHMANE
            %p.speaker__job-title BigBinary
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/jonathan-andres.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/jcabasc"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/jcabasc"}
                  %i.icon.icon-github
            %p.speaker__name JONATHAN ANDRÉS
            %p.speaker__job-title Koombea
