.text--center 
  %h1.section__title SPEAKERS
  %i.icon.icon-ruby-lines.section__title-separator

%grid
  .grid__item.one-third.palm--one-whole.lap--one-half>
    .speaker
      .speaker__img
        = image_tag("speakers/linda-liukas.jpg")
        .speaker__img--hover
          %a{:href => ""}
            %i.icon.icon-twitter
          %a{:href => ""}
            %i.icon.icon-github
      %p.speaker__name LINDA LIUKAS
      %p.speaker__job-title Co-founder of Rails Girls, Hello Ruby

  .grid__item.one-third.palm--one-whole.lap--one-half>
    .speaker
      .speaker__img
        = image_tag("speakers/aaron-patterson.jpg")
        .speaker__img--hover
          %a{:href => ""}
            %i.icon.icon-twitter
          %a{:href => ""}
            %i.icon.icon-github
      %p.speaker__name AARON PATTERSON
      %p.speaker__job-title Ruby Core, Rails Core

  .grid__item.one-third.palm--one-whole.lap--one-half>
    .speaker
      .speaker__img
        = image_tag("speakers/jane-hunt.jpg")
        .speaker__img--hover
          %a{:href => ""}
            %i.icon.icon-twitter
          %a{:href => ""}
            %i.icon.icon-github
      %p.speaker__name JANE HUNT
      %p.speaker__job-title Developer Rails Girls

  .grid__item.one-third.palm--one-whole.lap--one-half>
    .speaker
      .speaker__img
        = image_tag("speakers/peter-anderson.jpg")
        .speaker__img--hover
          %a{:href => ""}
            %i.icon.icon-twitter
          %a{:href => ""}
            %i.icon.icon-github
      %p.speaker__name PETER ANDERSON
      %p.speaker__job-title CEO, World into a Space

  .grid__item.one-third.palm--one-whole.lap--one-half>
    .speaker
      .speaker__img
        = image_tag("speakers/andrew-swang.jpg")
        .speaker__img--hover
          %a{:href => ""}
            %i.icon.icon-twitter
          %a{:href => ""}
            %i.icon.icon-github
      %p.speaker__name ANDREW SWANG
      %p.speaker__job-title Developer at Koombea

  .grid__item.one-third.palm--one-whole.lap--one-half>
    .speaker
      .speaker__img
        = image_tag("speakers/martin-vanger.jpg")
        .speaker__img--hover
          %a{:href => ""}
            %i.icon.icon-twitter
          %a{:href => ""}
            %i.icon.icon-github
      %p.speaker__name MARTIN VANGER
      %p.speaker__job-title Founder WeCode

  .grid__item.one-third.palm--one-whole.lap--one-half>
    .speaker
      .speaker__img
        = image_tag("speakers/philip-bjurman.jpg")
        .speaker__img--hover
          %a{:href => ""}
            %i.icon.icon-twitter
          %a{:href => ""}
            %i.icon.icon-github
      %p.speaker__name PHILIP BJURMAN
      %p.speaker__job-title Senior Web Developer at RubCo

  .grid__item.one-third.palm--one-whole.lap--one-half>
    .speaker
      .speaker__img
        = image_tag("speakers/lisbeth-salander.jpg")
        .speaker__img--hover
          %a{:href => ""}
            %i.icon.icon-twitter
          %a{:href => ""}
            %i.icon.icon-github
      %p.speaker__name LISBETH SALANDER
      %p.speaker__job-title Front End Developer

  .grid__item.one-third.palm--one-whole.lap--one-half>
    .speaker
      .speaker__img
        = image_tag("speakers/henrik-holger.jpg")
        .speaker__img--hover
          %a{:href => ""}
            %i.icon.icon-twitter
          %a{:href => ""}
            %i.icon.icon-github
      %p.speaker__name HENRIK HOLGER
      %p.speaker__job-title Developer at Koombea
