%section.section.section-sponsors#sponsors
  %div
    .wrapper
      .text--center
        %h1.section__title SPONSORS
        %i.icon.icon-ruby-lines.section__title-separator


        %div
          %p Interested in sponsoring RubyConf Colombia? Check out our <a href='https://drive.google.com/file/d/0B3YfVKb1r4nOREk3Y3dlOHVDV0E/view?usp=sharing' target='_blank' id='prospectus'>prospectus</a>.

        %br
        %br
        %br

      .sponsor-category.text--center
        %h1.sponsor-category__title PLATINUM
        %div
          = link_to "http://ride.com/" do
            = image_tag "sponsors/ride.jpeg", :class => "sponsor-category__img", width: 250

      .sponsor-category.text--center
        %h1.sponsor-category__title GOLD
        %div
          = link_to "http://koombea.com/" do
            = image_tag "sponsors/koombea.jpg", :class => "sponsor-category__img", width: 300

      .sponsor-category.text--center
        %h1.sponsor-category__title SILVER
        %div
          = link_to "http://rutanmedellin.org/" do
            = image_tag "sponsors/rutan.png", :class => "sponsor-category__img", width: 200
          = link_to "http://reax.io/" do
            = image_tag "sponsors/reax.png", :class => "sponsor-category__img", width: 200

      .sponsor-category.text--center
        %h1.sponsor-category__title ADVISOR
        %div
          = link_to "http://rubycentral.org/" do
            = image_tag "sponsors/ruby_central.png", :class => "sponsor-category__img", width: 150

      .sponsor-category.text--center
        %h1.sponsor-category__title STARTUP
        %div
          = link_to "http://www.makeitreal.camp/" do
            = image_tag "sponsors/makeitreal.png", :class => "sponsor-category__img", width: 150
          = link_to "http://kommit.co/" do
            = image_tag "sponsors/kommit.jpg", :class => "sponsor-category__img", width: 200
