.text--center 
  %h1.section__title SPONSORS
  %i.icon.icon-ruby-lines.section__title-separator

.sponsor-category.text--center
  %h1.sponsor-category__title PLATINUM
  %div
    = image_tag "sponsors/koombea.jpg", :class => "sponsor-category__img"

.sponsor-category.text--center
  %h1.sponsor-category__title GOLD
  %div
    = image_tag "sponsors/toptier.jpg", :class => "sponsor-category__img"
    = image_tag "sponsors/wyeworks.jpg", :class => "sponsor-category__img"
    = image_tag "sponsors/citrusbyte.jpg", :class => "sponsor-category__img"
    = image_tag "sponsors/engine-yard.jpg", :class => "sponsor-category__img"
  
.sponsor-category.text--center
  %h1.sponsor-category__title SILVER
  %div
    = image_tag "sponsors/neo.jpg", :class => "sponsor-category__img"
    = image_tag "sponsors/moove-it.jpg", :class => "sponsor-category__img"
    = image_tag "sponsors/github.jpg", :class => "sponsor-category__img"
    = image_tag "sponsors/8tracks.jpg", :class => "sponsor-category__img"
  %div
    = image_tag "sponsors/aprendio.jpg", :class => "sponsor-category__img"
    = image_tag "sponsors/wobo.jpg", :class => "sponsor-category__img"
    = image_tag "sponsors/workana.jpg", :class => "sponsor-category__img"

  