---
title: RubyConf - Colombia
---

= partial "partials/registration"

/ = partial "partials/venue"

= partial "partials/speakers"

/ = partial "partials/tickets"

/ = partial "partials/schedule"

= partial "partials/sponsors"

= partial "partials/coc"

= partial "partials/organizers"
