---
title: RubyConf Colombia
---

= partial "partials/tickets"

/ = partial "partials/cfp"

= partial "partials/speakers"

= partial "partials/schedule"

/ = partial "partials/venue"

= partial "partials/coc"

= partial "partials/sponsors"

= partial "partials/mailing_list"

= partial "partials/organizers"
