---
title: Ruby Conf - Colombia
---

%section.section.section-form
  .wrapper
    = partial "partials/form"

%section.section.section-venue
  .wrapper
    = partial "partials/venue"

%section.section.section-speakers
  .wrapper.text--center
    = partial "partials/speakers"

%section.section
  .wrapper
    = partial "partials/tickets"

%section.section.section-schedule
  .wrapper
    = partial "partials/schedule"

%section.section.section-sponsors
  .wrapper
    = partial "partials/sponsors"