---
title: RubyConf Colombia
---

/ = partial "partials/registration"

= partial "partials/tickets"

= partial "partials/speakers"

/ = partial "partials/schedule"

/ = partial "partials/venue"

= partial "partials/coc"

= partial "partials/sponsors"

= partial "partials/organizers"
