---
title: Ruby Conf - Colombia
---

%section.section.section-form#registration
  %div
    .wrapper
      = partial "partials/registration"

%section.section.section-venue#venue
  %div
    .wrapper
      = partial "partials/venue"
    .map-overlay
      .map-canvas
        %a.close{:href => "#", class: "js-map-close"} X
        #map-canvas.map
      

%section.section.section-speakers#speakers
  %div
    .wrapper.text--center
      = partial "partials/speakers"

%section.section#tickets
  %div
    .wrapper
      = partial "partials/tickets"

%section.section.section-schedule#schedule
  %div
    .wrapper
      = partial "partials/schedule"

%section.section.section-sponsors#sponsors
  %div
    .wrapper
      = partial "partials/sponsors"